html{
	background-color:black;
}
header{
	text-align:center;
	font-style:italic;
	font-size:30px;
}
body {
	color:#b0e312;
	font-size:1em;
	font-family:"Open Sans","Verdana",cursive;
}

body section ul{
		text-align:center;
		width:15%;
		margin:0 auto;
}
h1 style{
	font-style:italic;
}
ul style{
	color:white;
}
ol style{
	color:white;
}
}
body section p{
	color:white;
}

body section ol{
		text-align:center;
		width:15%;
		margin:0 auto;
}

section{
	text-align:center;
}

#top-banner{
	background-image: url('skyline.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-color:white;
	padding:6em 0;
}
#top-banner p{
		text-align:center;
		font-size:3em;

}
#navigation {
	height:165px;
	font-size:100%;
}
#navigation ul{
	height:25px;
	margin:0;
	padding:0;
	list-style-type: none;
}
#navigation li{
	display:block;
}
#navigation li a{
	text-decoration:none;
	color:white;
}
#navigation li{
	height:25px;
	width:140px;
	padding:8px 0;
	float:left;
	background-color:#b0e312;
	border-radius:10px;
	color:black;
	text-align:center;
}
#navigation li a:hover{
	color:red;
}
#navigation li a:visited{
	color:gray;
}
#navigation li a:visited:hover{
	color:yellow;
}